<div class=container>
  <div class="izmeni-container">
    <form [formGroup]="izmeniForm" (ngSubmit)="izmeni()">

      <p class="subtitle">Izmeni</p>

      <app-korisnik-forma [korisnikForm]="korisnikFormGroup"></app-korisnik-forma>

      <div class="form-group mt-3">
        <button type="submit" class="btn btn-success" [disabled]="izmeniForm.invalid">
          Sačuvaj izmene
        </button>

        <button type="button" class="btn2" (click)="otkazi()">
          Otkazi
        </button>
      </div>
    </form>
  </div>
</div>
