<div class="nastavnik-forma-container">
  <p class="subtitle">Dodaj nastavnika</p>
  <form [formGroup]="nastavnikForm" (ngSubmit)="kreiraj()">

    <app-korisnik-forma [korisnikForm]="korisnikFormGroup"></app-korisnik-forma>

    <app-adresa-forma [adresaForm]="adresaFormGroup"></app-adresa-forma>

    <app-zvanje-forma [zvanjeForm]="zvanjeFormGroup"></app-zvanje-forma>

    <div class="form-group">
      <label for="jmbg">JMBG</label>
      <input
        type="text"
        id="jmbg"
        formControlName="jmbg"
        class="form-control"
        [ngClass]="{'is-invalid': isInvalid('jmbg')}">
      <div *ngIf="isInvalid('jmbg')" class="invalid-feedback">
        JMBG je obavezan i mora imati 13 cifara
      </div>
    </div>

    <div class="form-group">
      <label for="ime">Ime</label>
      <input
        type="text"
        id="ime"
        formControlName="ime"
        class="form-control"
        [ngClass]="{'is-invalid': isInvalid('ime')}">
      <div *ngIf="isInvalid('ime')" class="invalid-feedback">
        Ime je obavezno
      </div>
    </div>

    <div class="form-group">
      <label for="biografija">Biografija</label>
      <textarea
        id="biografija"
        formControlName="biografija"
        rows="3"
        class="form-control"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn" [disabled]="nastavnikForm.invalid">
        Kreiraj
      </button>
    </div>

  </form>
</div>
