<div class="sidebar-wrapper">
  <aside class="menu">
    <p class="menu-label">Student meni</p>
    <ul class="menu-list">
      <li>
        <a class="navbar-item" routerLink="/student-dashboard/pregled" routerLinkActive="is-active">Pregled predmeta</a>
      </li>
      <li>
        <a class="navbar-item" routerLink="/student-dashboard/prijava" routerLinkActive="is-active">Prijava ispita</a>
      </li>
      <li>
        <a class="navbar-item" routerLink="/student-dashboard/istorija" routerLinkActive="is-active">Istorija polaganja</a>
      </li>
      <li>
        <a class="navbar-item" routerLink="/student-dashboard/obavestenja" routerLinkActive="is-active">Obaveštenja</a>
      </li>
    </ul>
  </aside>
</div>
