.subtitle { 
  font-weight: bold;
  margin-bottom: 25px;
}

.opis {
    white-space: nowrap; 
    overflow: hidden;  
    max-width: 320px;   
}

.table button {
    background-color: grey; 
    color: white; 
    padding: 8px 12px; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 14px; 
    margin-right: 5px; 
    margin-bottom: 5px;
    transition: background-color 0.2s ease; 
}