<div class="sidebar-wrapper">
  <aside class="menu">
    <p class="menu-label">Studentsko osoblje</p>
    <ul class="menu-list">
        <li>
            <a>Studenti</a>
            <ul>
              <li>
                <a class="navbar-item" routerLink="/osoblje-dashboard/student-tabela" routerLinkActive="is-active">Pregled studenata</a>
              </li>
              <li>
                <a class="navbar-item" routerLink="/osoblje-dashboard/student-forma" routerLinkActive="is-active">Dodaj studenta</a>
              </li>
            </ul>
        </li>
        <li>
            <a>Rasporedi</a>
            <ul>
              <li>
                <a class="navbar-item" routerLink="/osoblje-dashboard/raspored-nastave" routerLinkActive="is-active">Raspored nastave</a>
              </li>
              <li>
                <a class="navbar-item" routerLink="/osoblje-dashboard/raspored-ispita" routerLinkActive="is-active">Raspored ispita</a>
              </li>
            </ul>
        </li>
        <li>
            <a>Obavestenja</a>
            <ul>
              <li>
                <a class="navbar-item" routerLink="/osoblje-dashboard/obavestenje-forma" routerLinkActive="is-active">Dodaj obavestenje</a>
              </li>
            </ul>
        </li>
    </ul>
  </aside>
</div>