<div class="sidebar-wrapper">
  <aside class="menu">
    <p class="menu-label">Studentsko osoblje</p>
    <ul class="menu-list">
        <li>
            <a>Studenti</a>
            <ul>
                <li routerLinkActive="is-active"><a class="navbar-item" routerLink="osoblje-dashboard/student-tabela">Pregled studenata</a></li>
                <li routerLinkActive="is-active"><a class="navbar-item" routerLink="osoblje-dashboard/student-forma">Dodaj studenta</a></li>
            </ul>
        </li>
    </ul>
  </aside>
</div>