<div class="sidebar-wrapper">
  <aside class="menu">
    <p class="menu-label">Administracija</p>
    <ul class="menu-list">
        <li>
            <a>Registrovani korisnici</a>
            <ul>
                <li routerLinkActive="is-active"><a class="navbar-item" routerLink="admin-dashboard/korisnici">Pregled korisnika</a></li>
                <li routerLinkActive="is-active"><a class="navbar-item" routerLink="admin-dashboard/aktiviraj">aktiviraj korisnika</a></li>
                <li routerLinkActive="is-active"><a class="navbar-item" routerLink="admin-dashboard/nastavnik-forma">Dodaj nastavnika</a></li>
                <li routerLinkActive="is-active"><a class="navbar-item" routerLink="admin-dashboard/osoblje-forma">Dodaj studentsko osoblje</a></li>
            </ul>
        </li>
        <ul>
            <li routerLinkActive="is-active"><a class="navbar-item" routerLink="admin-dashboard/univerzitet-forma">Univerzitet</a></li>
            <li routerLinkActive="is-active"><a class="navbar-item" routerLink="admin-dashboard/fakultet-stranica">Fakulteti</a></li>
            <li routerLinkActive="is-active"><a class="navbar-item" routerLink="admin-dashboard/program-stranica">Studijski programi</a></li>
        </ul>
    </ul>