<div class="sidebar-wrapper">
  <aside class="menu">
    <p class="menu-label">Administracija</p>
    <ul class="menu-list">
      <li>
        <a>Registrovani korisnici</a>
        <ul>
          <li>
            <a class="navbar-item" routerLink="/admin-dashboard/korisnici" routerLinkActive="is-active">Pregled korisnika</a>
          </li>
          <li>
            <a class="navbar-item" routerLink="/admin-dashboard/aktiviraj" routerLinkActive="is-active">Aktiviraj korisnika</a>
          </li>
          <li>
            <a class="navbar-item" routerLink="/admin-dashboard/nastavnik-forma" routerLinkActive="is-active">Dodaj nastavnika</a>
          </li>
          <li>
            <a class="navbar-item" routerLink="/admin-dashboard/osoblje-forma" routerLinkActive="is-active">Dodaj studentsko osoblje</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="navbar-item" routerLink="/admin-dashboard/univerzitet-forma" routerLinkActive="is-active">Univerzitet</a>
      </li>
      <li>
        <a class="navbar-item" routerLink="/admin-dashboard/fakultet-stranica" routerLinkActive="is-active">Fakulteti</a>
      </li>
      <li>
        <a class="navbar-item" routerLink="/admin-dashboard/program-stranica" routerLinkActive="is-active">Studijski programi</a>
      </li>
    </ul>
  </aside>
</div>
